body {
    font-family: 'Patrick Hand', sans-serif;
    background-color: #000000; /* Fundo preto */
    color: #FFFFFF; /* Texto branco */
    margin: 0;
    padding: 0;
}

header {
    background-color: #800080; /* Roxo escuro */
    color: #00FF00; /* Verde ácido */
    text-align: center;
    padding: 20px 0;
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
}

.chamada {
    background-color: #002b36; /* Azul profundo */
    color: #00FF00; /* Verde ácido */
    padding: 50px 20px;
    text-align: center;
}

.chamada-texto h1 {
    font-family: 'Syne', sans-serif;
    font-size: 2.5em;
    margin: 0 0 10px;
    color: #00FF00; /* Verde ácido */
}

.filmes-series {
    padding: 20px;
    background-color: #000000; /* Fundo preto */
}

.filmes-series h2 {
    font-family: 'Syne', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #800080; /* Roxo escuro */
}

.categoria-videos a img {
    border-radius: 10px;
    transition: transform 0.3s;
    width: 300px;
    height: auto;
    border: 2px solid #00FF00; /* Borda verde ácido */
}

.categoria-videos a img:hover {
    transform: scale(1.05);
    border: 2px solid #800080; /* Borda roxo escuro ao passar o mouse */
}
